## Scrape New York Stock Exchange company names and symbols

#### 步骤&注意事项
1. User-agent
2. 理解这个网站的排版方式，奇数和偶数；找规律 find all (tr, ts0, ts1)
3. 抓取下来的数据都是以list 的形式排列，字符串，把他们都拆分开来，然后提取第几个数字，append 到之前就设计好的 list 里面
4. 利用循环语句，function 来重复抓取所有的company symbol & ticker 

#### 问题

1. what are the difference between them?
        soup = BeautifulSoup(page.text, "html.parser") n/
        soup = BeautifulSoup(page.text, "lxml")

2. 视频里面抓取了2480个公司，我们只抓去了 1920个公司，我们看了 以A 开头的公司是 333， match 了网站的333个，所以不知道中间哪里出了什么问题

https://www.youtube.com/watch?v=Cb_5A6geOUw&list=WL&index=5

In [54]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time

In [49]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36"}

In [50]:
company_name = []
company_ticker = []

In [51]:
def scrape_stock_symbols(Letter):
    Letter = Letter.upper()
    url = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=' + Letter
    page = requests.get(url, headers=headers)
    soup = BeautifulSoup(page.text, "html.parser")
    odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
    even_rows = soup.find_all('tr', attr={'class':'ts1'})

    for i in odd_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip())
        company_ticker.append(row[1].text.strip())
    
    for i in even_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip())
        company_ticker.append(row[1].text.strip())

    return (company_name, company_ticker)

In [52]:
import string
letter_list = string.ascii_uppercase

In [55]:
for char in letter_list:
    (company_name, company_ticker) = scrape_stock_symbols(char)
    time.sleep(0.5)

In [56]:
data = pd.DataFrame(columns=['Company_Name', 'Company_Ticker'])
data['Company_Name'] = company_name
data['Company_Ticker'] = company_ticker
data

                 Company_Name Company_Ticker
0        A H Belo Corporation            AHC
1                    AAR Corp            AIR
2          ABM Industries Inc            ABM
3         ADC Therapeutics SA           ADCT
4      AEABridges Impact Corp           IMPX
...                       ...            ...
1923                Zhihu Inc             ZH
1924  Zions Bancorporation NA            ZBK
1925       Zoes Kitchen, Inc.           ZOES
1926                Zuora Inc            ZUO
1927            Zymeworks Inc           ZYME

[1928 rows x 2 columns]